*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    background: #e4e4e4;
    padding-left: 50px;
    padding-right: 50px;
}


.addressInvoice{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: column;
}
.headerInvoice{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #0077ff;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
}

.addressInvoice p{
    font-weight: bold;
    font-size: 20px;
}

/* content */
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.main03{
    display: flex;
    flex-direction: column;
    text-align: right;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 50px;
}

table th,
table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #c5c5c5;
    font-weight: bold;
}

.totalMain {
    text-align: right;
    border: none;
}

.totalAmount {
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #000000;
    text-align: right;
}
.textLeft{
    text-align: left;
    font-size: 18px;
}
.numberRight{
    font-size: 18px;
    text-align: right;
}
/* font */
.headContentMain{
    font-weight: bold;
    font-size: 20px;

}
.defultText{
    font-weight: none;
    font-size: 16px;
}

.signature{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: right;
}
.sigImg img{
    width: 200px;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.footerText01{
    display: flex;
    flex-direction: column;
    
}
.footerText02{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}